.img{
    min-height:80vh;
    display: flex;
    background: url(/public/flighthub3.jpg) center/cover no-repeat;
    align-items: center;
    justify-content:center;
    
    }
   
    .banner {
        display: inline-block;
        background: rgba(4, 3, 5, 0.479);
        color: white;
        padding: 2rem 2rem;
        text-align: center;
        text-transform: capitalize;
        letter-spacing:normal;
        margin-top:2rem;
        border-radius: 1px;
      }
      .banner h1 {
        font-size: 2.5rem;
        margin-top: 1.2rem;
        text-transform: uppercase;
      }
      .line {
        width: 10rem;
        height: 5px;
        background:white;
        margin: 1.5rem auto;
      }
    
    